@value colors: "./colors.css";
@value primary, primary-light, custom-gray-light, custom-black, custom-gray-dark from colors;
@value sizes: "./sizes.css";
@value font-size-bigger from sizes;

.navigation {
  height: 4.8rem;
  border-bottom: 1px solid custom-gray-light;
  display: flex;
}

.logo {
  padding: 1.3rem 1.5rem;
  width: 20rem;
}

.logo a {
  font-weight: 500;
  color: primary;
}

.logo a:hover {
  color: primary-light;
}

.links {
  width: calc(100vw - 20rem);
  display: flex;
  justify-content: flex-end;
}

.link {
  padding: 1.3rem 1.5rem;
}

.link a {
  color: custom-black;
}

.link a:hover {
  color: custom-gray-dark;
}
